<!DOCTYPE html>
<html>
<include file = "Public:head"/>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>数据抓取系统</h1>
    </div>
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <include file="Public:menu"/>
        </div>
        <div class="col-xs-10">
            <form class="form-inline" role="form" method="post">
                <div class="form-group">
                    <label for="start">开始编号</label>
                    <input type="text" class="form-control" id="start" name = "start"
                           placeholder="开始编号">
                </div>
                <div class="form-group">
                    <label  for="end">结束编号</label>
                    <input type="text" class="form-control" id="end" name = "end"
                           placeholder="结束编号">
                </div>

                <button type="submit" class="btn btn-primary">导出excel</button>
            </form>
            <table class="table table-bordered">
                <caption>数据列表</caption>
                <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>电话</th>
                </tr>
                </thead>
                <tbody>
                <volist name="users" id="vo">
                    <tr>
                        <td>{$vo['id']}</td>
                        <td>{$vo['name']}</td>
                        <td>{$vo['phone']}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div class = "row">
        规则demo图预览区域
    </div>
</div>
</body>
</html>