<!DOCTYPE html>
<html>
<include file = "Public:head"/>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>数据抓取系统</h1>
    </div>
    <div class="row">
        <div class="col-xs-2" id="myScrollspy">
            <include file="Public:menu"/>
        </div>
        <div class="col-xs-10">
            <table class="table table-bordered">
                <caption>所有抓取规则列表</caption>
                <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>详情</th>
                    <!--<th>单元格正则</th>-->
                    <!--<th>名称正则</th>-->
                    <!--<th>电话正则</th>-->
                    <th>分页词</th>
                    <th>最大页数</th>
                    <th>编辑</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo['id']}</td>
                        <td><a href = "{:U('Reg/detail',array('id'=>$vo['id']))}">{$vo['name']}</a></td>
                        <td>{$vo['info']}</td>
                        <!--<td><textarea style="width: 200px">{$vo['unit_reg']}</textarea></td>-->
                        <!--<td><textarea style="width: 200px">{$vo['name_reg']}</textarea></td>-->
                        <!--<td><textarea style="width: 200px">{$vo['phone_reg']}</textarea></td>-->
                        <td>{$vo['page_key']}</td>
                        <td>{$vo['max_page']}</td>
                        <td><a href = "{:U('Reg/update',array('id'=>$vo['id']))}">修改</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>

